* {
    transition: all 200ms;
}

body {
	color: #ffffff;
	font-family: "Muli", Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(199, 199, 199)
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.27)
}

.bg-header {
    background-color: rgba(0, 0, 0, 0.27)
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-item-general {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu-item {
    margin-left: 20px;
    font-weight: 600;
}

.menu-link {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 14px;
    letter-spacing: 0.7px;
    text-decoration: none;
    text-align: left;
    color: #fefefe;
  }

.menu-link:hover {
    color: #f7cd78;
}

.fa-envelope {
    margin-right: 5px; 
    color: #fefefe;
}

.fa-phone {
    margin-left: 10px;
    margin-right: 5px; 
    color: #fefefe;
}

.contact {
    color: #fefefe;
    text-decoration: none;
}

.contact:hover {
    color: #f7cd78;
}

.banner {
    text-align: center;
    padding: 30px;
    height: 500px;
    background: url(../img/bg-banner.png) no-repeat center top/ cover;
}

.banner-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 55px;
    margin-top: 185px;
    margin-bottom: 0;
    line-height: 0.24;
    letter-spacing: -3.3px;
    color: #fefefe;
}

.dif-color {
    color: #f7cd78;
}

.banner-text {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.63px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #ffffff;
    border-radius: 20px;
    padding: 10px;
    max-width: 150px;
    height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: 0.75px;
    text-decoration: none;
    color: #ffffff;
}