* {
    transition: all 200ms;
}

body {
	color: #ffffff;
	font-family: "Muli", Arial, sans-serif;
    font-size: 14px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.27)
}

.bg-header {
    background-color: rgba(0, 0, 0, 0.27)
}

.checkbox1 {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-item-general {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-left: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-link {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 14px;
    letter-spacing: 0.7px;
    text-decoration: none;
    text-align: left;
    color: #fefefe;
}

.menu-link:hover {
    color: #f7cd78;
}

.fa-envelope {
    margin-right: 5px; 
    color: #fefefe;
}

.fa-phone {
    margin-left: 10px;
    margin-right: 5px; 
    color: #fefefe;
}

.contact {
    color: #fefefe;
    text-decoration: none;
}

.contact:hover {
    color: #f7cd78;
}

.banner {
    height: 450px;
    text-align: center;
    padding: 30px;
    background: url(../img/bg-banner.png) no-repeat center top/ cover;
}

.banner-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 55px;
    margin-top: 185px;
    margin-bottom: 0;
    line-height: 0.24;
    letter-spacing: -3.3px;
    color: #fefefe;
}

.dif-color {
    color: #f7cd78;
}

.banner-text {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.63px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #ffffff;
    border-radius: 20px;
    background: rgba(62, 33, 100, 0.3);
    padding: 10px;
    max-width: 150px;
    height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: 0.75px;
    text-decoration: none;
    color: #ffffff;
}

.btn:hover {
    background-color: #f1a751;
    color: rgb(31, 30, 30);
}

.we-love-design {
    color: #ffffff;
    margin-left: 75px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 0.53;
    letter-spacing: 0.75px;
    font-weight: 600;
}

.main-container {
    margin-top: -70px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.image-main {
    border: solid 2px #ffffff;
    border-radius: 5px;
}

.text-main-top {
    font-size: 12px;
    max-width: 500px;
    margin-left: 75px;
    margin-top: 50px;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: left;
    color: #555555;
}

.text-main-bottom {
    font-size: 12px;
    max-width: 500px;
    margin-left: 75px;
    margin-top: 30px;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: left;
    color: #555555;
}

.horizontal-line {
    margin-top: 40px;
	width: 70%;
	size: 2px;
	border-color: #bebdbd;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-top: 50px;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.service {
    margin-bottom: 70px;
    max-width: 250px;
    padding: 0px 1rem;
}

.image-services {
    width: 92px;
    height: 90px;
}

.services-header {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #555555;
}

.services-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.78px;
    color: #555555;
}

.project-container {
    text-align: center;
    padding: 30px;
    background: url(../img/black-iphone-on-black-office-desk-picjumbo-com.png) no-repeat center top/ cover;
}

.project-header {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 40px;
    margin: 0 auto;
    line-height: 1.48;
    letter-spacing: 2px;
    color: #ffffff;
}

.project-new-design {
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.27);
    font-size: 30px;
    margin: 0 auto;
    line-height: 2.11;
    letter-spacing: 2.1px;
    color: #ffffff;
}

.image-project {
    display: flex;
    text-align: left;
    max-width: 930px;
    margin: 0 auto;
}

.text-project {
    font-family: Tahoma;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1.28px;
    text-align: left;
    color: #ffffff;
}

.btn-project {
    display: inline-block;
    margin-top: 35px;
    border: solid 1px #ffffff;
    border-radius: 20px;
    background: rgba(231, 41, 7, 0.3);
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    max-width: 150px;
    height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: 0.75px;
    text-decoration: none;
    color: #ffffff;
}

.btn-project:hover {
    background-color: #f1a751;
    color: rgb(31, 30, 30);
}

.footer {
    text-align: center;
    padding: 30px 0 0;
    background: url(../img/young-woman-working-typing-on-her-laptop-picjumbo-com.png) no-repeat center top/ cover;
}

.footer-header {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 0.32;
    letter-spacing: 3.5px;
    color: #fefefe;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
}

.text-footer-mo-margin {
    margin: 0;
    padding-right: 10px;
}

.footer-text {
    max-width: 320px;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 1.11px;
    text-align: left;
    color: #ffffff;
}

.footer-follow-us {
    font-size: 15px;
    margin-top: 50px;
    line-height: 1.6;
    letter-spacing: 1.28px;
    text-align: left;
    color: #ffffff;
}

.footer-social-media {
    font-size: 30px;
}

.fab {
    color: #ffffff;
}

.footer-input {
    display: flex;
    flex-direction: column;
}

input::placeholder {
    padding: 10px;
    font-size: 12px;
    line-height: 1.85;
    letter-spacing: 0.13px;
    text-align: left;
    color: #c2c2c2;
}

.footer-input-name {
    display: inline-block;
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid #626262;
    background-color: #626262;
}

.footer-input-email {
    display: inline-block;
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid #626262;
    background-color: #626262;
}

.footer-input-message {
    display: inline-block;
    height: 60px;
    margin-bottom: 15px;
    border: 1px solid #626262;
    background-color: #626262;
}

.btn-footer {
    display: inline-block;
    margin-top: 35px;
    border: solid 1px #626262;
    background: #626262;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    max-width: 150px;
    height: 16px;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.75px;
    text-decoration: none;
    color: #ffffff;
}

.btn-footer:hover {
    background-color: #f1a751;
    color: rgb(31, 30, 30);
}

.footer-line {
    padding: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.27)
}

.hizamo-bottom {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}

@media screen and (max-width: 800px) {

    .header-contacts {
        display: none;
    }

    .menu {
        justify-content: center;
    }
    .image-wrapper {
        margin-left: 20px;
    }
    .text-main-top {
        font-size: 12px;
        max-width: 500px;
        margin-left: 50px;
        margin-top: 50px;
        margin-right: 50px;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: left;
        color: #555555;
    }

    .text-main-bottom {
        font-size: 12px;
        max-width: 500px;
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 50px;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: left;
        color: #555555;
    }

    .service {
        margin-bottom: 30px;
    }

    .image-project {
        display: block;
        text-align: center;
    }

    .text-project{
        text-align: center;
    }

    .picture-project {
        width: 70%;
    }

}

@media screen and (max-width: 600px) {

    .image-main {
        display: none;
    }

    .main-container {
        display: block;
    }

    .content-wrapper {
        text-align: center;
    }

    .we-love-design {
        margin-left: 0;
    }

    .text-main-top {
       
        text-align: center;
    }

    .text-main-bottom {
        
        text-align: center;
    }

    .footer-wrapper {
        display: block;
    }

    .footer-text {
        display: contents;
        text-align: center;
        width: auto;
    }

    .footer-follow-us {
        text-align: center;
    }

}

@media screen and (max-width: 490px) {
    .hamburger{
        display: block;
    }

    .text-main-bottom {
        margin: 50px 15px 15px 15px;
    }

    .text-main-top {
        margin: 50px 15px 15px 15px;
    }


    .menu-item-general{
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        margin: 0;
    }

    .menu {
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all 600ms;
    }

    input[type="checkbox"]:checked ~ * {
        max-height: 490px;
    }

    .menu-item {
        margin: 0;
    }

    .hamburger {
        visibility: visible;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .btn-footer {
        text-align: center;
    }

    /*Hamburger*/
    .visuallyHidden {
        position: absolute; 
        overflow: hidden;
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
    }

    .hamburger {
        position: relative;
        transform: scale(0.6);
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: #bebdbd;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute; 
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    /* HAMBURGER 1 */
    .checkbox1:checked + label > .hamburger1 > .bar1{
        transform: rotate(45deg);
        transform-origin: 5%;
        width: 41px
    }

    .checkbox1:checked + label > .hamburger1 > .bar2 {
        transform: translateX(-40px);
        background-color: transparent;
    }

    .checkbox1:checked + label > .hamburger1 > .bar3 {
        transform: translateX(40px);
        background-color: transparent;
    }

    .checkbox1:checked + label > .hamburger1 > .bar4 {
        transform-origin: 5%;
        transform: rotate(-45deg);
        width: 41px;
    }

}

